<form>
<mat-form-field class="full-width" appearance="fill" *ngIf="reuniaoFamiliar.Id == 0">
  <mat-label>Data da Reunião</mat-label>
  <input matInput [matDatepicker]="picker" name="datareuniao" [(ngModel)]="reuniaoFamiliar.datareuniao" (dateChange)="onSelectDate($event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi #picker></mat-datepicker>
</mat-form-field>

<mat-form-field class="full-width" appearance="fill" *ngIf="reuniaoFamiliar.Id > 0">
  <mat-label>Data da Reunião</mat-label>
  <input type="text" matInput name="datareuniao" [value]="dateFormatted(reuniaoFamiliar.datareuniao)" disabled="true">
</mat-form-field>

<mat-form-field class="full-width" appearance="fill">
  <mat-label>Número </mat-label>
  <input type="number" matInput name="numero" [(ngModel)]="reuniaoFamiliar.numero">
</mat-form-field>

<mat-form-field class="full-width" appearance="fill">
  <mat-label>Dirigida Por</mat-label>
  <mat-select [(ngModel)]="reuniaoFamiliar.dirigidapor" name="dirigidapor">
    <mat-option *ngFor="let member of listaFamilia()" [value]="member.id">
      {{member.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="full-width">
  <mat-label>Anúncios</mat-label>    
  <textarea matInput placeholder="" [(ngModel)]="reuniaoFamiliar.anuncio" name="anuncio"
  cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="10"></textarea>
            <mat-checkbox [(ngModel)]="reuniaoFamiliar.naomembro" name="naomembro">Visitante(s) Presente</mat-checkbox> 
</mat-form-field>

<mat-form-field class="full-width" appearance="fill">
  <mat-label>1º Hino {{ nomeDoHino }}</mat-label>
  <input type="number" #nomeHino matInput maxlength="4" name="primeiro_hino" [(ngModel)]="reuniaoFamiliar.primeiro_hino" (change)="obterNomeDoHino(nomeHino)">
</mat-form-field>

<mat-form-field class="full-width" appearance="fill">
  <mat-label>1º Oração</mat-label>
  <mat-select [(ngModel)]="reuniaoFamiliar.primeira_oracao" name="primeira_oracao">
    <mat-option *ngFor="let member of listaFamilia()" [value]="member.id">
      {{member.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="full-width" appearance="fill">
  <mat-label>Mensagem</mat-label>
  <mat-select [(ngModel)]="reuniaoFamiliar.mensagem" name="mensagem">
    <mat-option *ngFor="let member of listaFamilia()" [value]="member.id">
      {{member.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="full-width" appearance="fill">
  <mat-label>Última Oração</mat-label>
  <mat-select [(ngModel)]="reuniaoFamiliar.ultima_oracao" name="ultima_oracao">
    <mat-option *ngFor="let member of listaFamilia()" [value]="member.id">
      {{member.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="full-width">
  <mat-label>Observação</mat-label>
  <textarea matInput placeholder="" [(ngModel)]="reuniaoFamiliar.observacao" name="observacao" 
  cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="10"></textarea>
</mat-form-field>
<!-- 
<mat-card-actions>
  <button mat-raised-button color="primary" (click)="SalvarReuniao()">{{btnSalvarReuniaoLabel()}}</button>
</mat-card-actions> -->
</form>

